# -*- mode:conf -*-
*~
*.o
*.a
*.cache
*.log
*.status
configure
aclocal.m4
/.cproject
/.project
/Makefile
/Makefile.in
/_configs.sed
/config/
/include/zrtp_config_unix.h
/.stamp-doc
/.deps
/doc/Doxyfile
/doc/out
